.main{
    margin-left: 10%;
    margin-top: 3%; 
}
.fancy-button{
    letter-spacing: 8px;
    margin-top: 2%;
}
@media only screen and (max-width: 768px) {
  .main{
    display: flex;
    flex-direction: column;
    width: 84%;
  }

    
    

  }
