
.form{
    width: 40%;
}
@media only screen and (max-width: 768px) {
    .nutshell{
        width: auto;
        overflow: hidden;
    }
    .form{
        width: 80%;
        margin-bottom: 17%;
        margin-left: 12%;
    }
    
  }